.form-wrapper .execute {
  margin: 15px 0px 0px auto;
}

.basic-options-wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

.advanced-options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.advanced-options-wrapper .col-half {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 5px;
}

.bar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 5px;
}
