body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.title {
  width: 450px;
  margin: auto;
  text-align: center;
}

.locale,
.form-wrapper,
.player-wrapper {
  max-width: 450px;
  margin: 10px auto;
}

.locale label {
  margin-top: 10px;
}

.locale input {
  margin-top: 5px;
  padding: 8px;
}

.form-wrapper label {
  display: block;
  margin-top: 10px;
}

.form-wrapper input,
.form-wrapper select,
.form-wrapper button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
}

.form-wrapper button {
  margin-top: 15px;
  padding: 5px 0px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-wrapper button:hover {
  background-color: #45a049;
}

.advanced-options-wrapper {
  display: flex;
}
.advanced-options-wrapper .col-half {
  width: 50%;
}
.advanced-options-wrapper .col-half:first-child {
  padding-right: 5px;
}
.advanced-options-wrapper .col-half:last-child {
  padding-left: 5px;
}
