body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.title {
  width: 400px;
  margin: auto;
  text-align: center;
}

.form-wrapper {
  max-width: 400px;
  margin: auto;
}

.form-wrapper label {
  display: block;
  margin-top: 10px;
}

.form-wrapper input,
.form-wrapper select,
.form-wrapper button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
}

.form-wrapper button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-wrapper button:hover {
  background-color: #45a049;
}
