@use 'theme'
button
  padding: 8px 20px
  background-color: #{theme.$primary}
  color: white
  border: none
  border-radius: #{theme.$border-radius}
  cursor: pointer
  font-size: 15px

  :hover
    background-color: #{theme.$primary-hover}

  &[disabled]
    background-color: #{theme.$primary-light}
    cursor: not-allowed
