input[type='radio'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0px 5px 0px 5px;
}

input[type='radio']::before {
  content: '';
  position: relative;
  display: block;
  top: 2px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: var(--form-border);
  background-color: var(--form-bg);
}

input[type='radio']:hover::before {
  background-color: #f2f2f2;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  margin: -10px 0px 0px 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 0;
  background-color: var(--primary);
}
