body {
  font-family: '微软雅黑', '黑体', Arial, sans-serif;
  margin: 20px;
}

label {
  padding-top: 5px;
}

button {
  padding: 12px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.logo {
  margin: 0px 10px;
}

.title {
  width: 600px;
  margin: auto;
  text-align: center;
}

.locale,
.form-wrapper,
.player-wrapper {
  max-width: 600px;
  margin: 10px auto;
}

.locale {
  text-align: center;
}

.form-wrapper input,
.form-wrapper select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.form-wrapper button.execute {
  margin-top: 15px;
  width: 100%;
}

.basic-options-wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.advanced-options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.advanced-options-wrapper .col-half {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: 5px;
}
